body {
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../Imagenes_puzzle/fondopeces.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.cuentaregresiva{
  color: white;
}
#contador{
  left: 900px;
    background-color: gold;
    position: absolute;
    width: 100px;
    height: 60px;
    top: 0px;
    color: black;   
    text-align: center;
    border-color: goldenrod !important;
}

.parrafo{
  color: white;
  position: relative;
}


.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  display: block;
}

#siguiente{
  background-image: url("../img/Flechajuego.png");
  background-size: 100% 100%;
  background-position: center;
  border-color: rgb(0, 0, 0) !important;
  position: absolute;
  right: 680px;
  height: 80px;
  width: 80px;
  bottom: 50px;
  border-radius: 30px 30px;
  color: white;
}

  
